.adventures-title {
    margin-top: -76px;
    text-align: center;
    padding: 40px 20px;
    color: #2a5947;
    border-radius: 8px;
    box-sizing: 0px 4px 10px rgba(0,0, );
  }
  
  .adventures-title h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  .adventures-title p {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  