
.adventures-title {
    text-align: center;
    padding: 40px 20px;
    color: #184d47;
}

.adventures-title h1 {
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: -80px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.adventures-title p {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto; 
    max-width: 800px; 
    color: #555;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 60px auto;
    padding: 0 20px;
    max-width: 1200px;
    justify-content: center; 
}

.adventure-gallery figure {
    text-align: center;
    margin: 0 auto; 
    transform: translateX(0); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.adventure-gallery img:hover {
    transform: scale(1.1);
}

.adventure-gallery figcaption {
    margin-top: 10px;
    font-size: 1.4em;
    color: #2a5947;
    font-weight: bold;
}

.image-description {
    margin-top: 5px;
    font-size: 1em;
    color: #555;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.divider hr {
    width: 30%;
    border: 1px solid #ccc;
}

.divider span {
    margin: 0 10px;
    font-size: 1.5em;
    color: #ff6b35;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



