/* Navigation Bar Styling */
header nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a5947;
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0 30px;
}

.home-button {
    background-color: #f8e8c1;
    color: #2a5947;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.home-button:hover {
    background-color: #f8e8c1;
    color: #2a5947;
    transform: scale(1.2); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.home-button img {
    width: 50px;
    height: auto;
    vertical-align: middle;
}

header nav ul li a {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.2em;
    font-weight: bold;
    color: #f2f7f4;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

header nav ul li a:hover {
    background-color: #f8e8c1;
    color: #2a5947;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Adventure Button Link */
.adventure-link {
    text-align: left;
    margin: 20px 5%;
    font-size: 1.5em;
    color: #333;
    max-width: 80%;
    transform: translateX(10%);
}

.adventure-button {
    color: #ffffff;
    background-color: #ff6b35;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    font-size: 1em;
}

.adventure-button:hover {
    background-color: #e65a28;
    transform: scale(1.1);
}








